.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .menu-icon {
    display: none; /* Adjust as needed */
  }
  
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .icon {
    /* Your icon styles */
    margin-right: 10px; /* Adjust margin as needed */
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position dropdown below the icon */
    right: 0; /* Position dropdown at the rightmost */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer; /* Set cursor to pointer */
  }
  
  .dropdown-content p:hover {
    background-color: #94b3ed;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  